@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --mjnyellow: #ffe000;
    --bs-body-font-family: "Poppins";
}

.yellow {
    background: var(--mjnyellow)
}

#badges {
    display: flex;
    justify-content: space-between;
    height: min(150px, 30vw);
    width: 100%;
}

#lewica-badge {
    background: url('assets/lewica-badge.png') no-repeat;
    background-size: contain;
}

#mjn-badge {
    background: url('assets/mjn-badge.png') no-repeat;
    background-size: contain;
    background-position: right;

}

#header {
    background: url('assets/id3.png') no-repeat;
    text-indent: -10000em;
    background-size: contain;
    background-position: center;
    min-height: min(100vw, 400px);
}

#photo {
    text-align: center;
}

#photo {
    background: url('assets/michal.jpg') no-repeat;
    background-size: contain;
    background-position: center bottom;
    min-height: min(600px, 150vw);
}


/* 
LINKS
 */
 #links a {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 0;
    font-weight: 600;
    font-size: 1.5em;
 }

 #links a:hover {
    color: var(--mjnyellow);
    background-color: black;
 }

#subheader-container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: hidden;

}
#subheader {
    font-weight: 600;
    text-align: center;
    font-size: 3em;  
    transform: rotate(-10deg);
    font-style: italic;
    width: fit-content;
}

#subheader h2 {
    transform: rotate(-10deg);
}


.program-item {
    margin-bottom: 30px;
}

/* 

GALLERY 

*/
.gallery {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: scroll;
}

.gallery div div {
    width: clamp(250px, 30vw, 300px);
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.gallery div {
    margin-right: 10px;
}

.gallery div:last-child {
    margin-right: 0;
}

#omnie1 {
    background-image: url('assets/omnie1.jpg');
}

#omnie2 {
    background-image: url('assets/omnie2.jpg');
}

#omnie3 {
    background-image: url('assets/omnie3.jpg');
}


#done1 {
    background-image: url('assets/done1.jpg');
}

#done2 {
    background-image: url('assets/done2.jpg');
}

#done3 {
    background-image: url('assets/done3.jpg');
}


#program1_1 {
    background-image: url('assets/program1_1.jpg');
}
#program1_2 {
    background-image: url('assets/program1_2.jpg');
}

#program2_1 {
    background-image: url('assets/program2_1.jpg');
}

#program2_2 {
    background-image: url('assets/program2_2.jpg');
}

#program3_1 {
    background-image: url('assets/program3_1.jpg');
}

#program3_2 {
    background-image: url('assets/program3_2.jpg');
}

#program4_1 {
    background-image: url('assets/program4_1.jpg');
}
#program4_2 {
    background-image: url('assets/program4_2.jpg');
}

#program5_1 {
    background-image: url('assets/program5_1.jpg');
}
#program5_2 {
    background-image: url('assets/program5_2.jpg');
}
#program5_3 {
    background-image: url('assets/program5_3.jpg');
}
#program5_4 {
    background-image: url('assets/program5_4.jpg');
}

#program6_1 {
    background-image: url('assets/program6_1.jpg');
}
#program6_2 {
    background-image: url('assets/program6_2.jpg');
}
#program6_3 {
    background-image: url('assets/program6_3.jpg');
}